@media all and (max-width: 750px){
    .container{
        width: 300px;
    }
    .center{
        width: 300px;
    }
    div.container h1{
        float: none;
    }
    div.menu div.container ul{
        margin: 0px;
    }
    div.container h1{
        font-size: 15px;
    }
    div.menu li{
        font-size: 10px;
        margin-left: 12px;
        margin-top: 0px;
    }
    .img {
        height: auto;
    }
    div.img h2{
        font-size: 14px;
        padding-top: 62px;
    }
    div.img p:first-of-type{
        font-size: 10px;
        padding: 0px;
        line-height: 15px;
        padding-top: 10px;
    }
    button{
        font-size: 10px;
        padding: 0px;
        width: 86px;
        height: 28px;
        margin-top: 14px;
    }
    div.img p:last-of-type{
        margin-top: 10px;
        font-size: 10px;
    }
    h4{
        font-size: 14px;

    }


}
